<% layout('layouts/boilerplate')%>
<h1>Details of <%=farm.name%></h1>
<div>
    <ul>
        <li>City: <%=farm.city%></li>
        <li>Description: <%=farm.email%></li>
    </ul>
    <br>
</div>


<!-- <footer>
    <a href="/campgrounds">All Campgrounds</a>
</footer> -->
